img {
margin: auto;
width: 80%;

}

div {
    text-align: center;
}

body{
    
    background-image: url("https://webuyblack.com/images/product/Screen%20Shot%202020-10-09%20at%2012.21.56%20PM_2.png");
}